@{
    ViewBag.Title = "CreePost";
}

@using (Html.BeginForm("AjoutPost", "Home", FormMethod.Post, new { @class = "form" }))
{

    @Html.ValidationSummary(true);
    @Html.AntiForgeryToken();

    <h2>Entrer une Justification</h2>
    <form action="@Html.ActionLink("Accueil", "AjoutPost", "Home")">
        <input required type="text" name="texte" placeholder=" ex: Mon chat est mort... " />

        <input type="submit" value="Soumettre">
    </form>
}