@{
    ViewBag.Title = "About";
}
<h2>Entrer une Justification</h2>
<form action="@Html.ActionLink("Accueil", "Index", "Home")">
    <input type="text" name="Texte" placeholder=" ex: Mon chat est mort... "/>
    <input type="submit" value="Soumettre" >
</form>
