@{
    ViewBag.Title = "Home Page";

<h2>Bonjour @ViewBag.User.Prenom @ViewBag.User.Nom</h2>
}

<div class="jumbotron">
    @*<div class="col-lg-10">*@
    <h1>Gestion des retards</h1>
    <p class="lead">"A baby as born on the way, that's why I am late..."</p>
    @*</div>
        <div class="col-lg-2">
            <img alt="alllllo" src="~/Views/Assets/Ferro.png" width="50" height="50"/>
        </div>*@
</div>
<div class="row">
    <p class="lead">Ce site permet la justification de retard.</p>
    <p class="lead">Vous pouvez entrer les justifications de vos retards, voir ceux des autres et de les noter. Retrouvez les meilleures d'entres-elles pour vous payer une bonne tranche de rigolade avec votre professeur préféré : le bon Alan Ferronière, Roi incontesté des chatons (à mi-temps).</p>
</div>
<br />

<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-primary btn-lg" href="/Home/CreerPost">Entrer une justification &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-primary btn-lg" href="/Home/ListerPost">Voir les justifications &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-primary btn-lg" href="/Home/ListerPostPromo">Meilleures Justifications &raquo;</a></p>
    </div>
</div>