
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<form action="@Html.ActionLink("Accueil", "Authentification", "Home")">
    <p>Nom :</p>
    <input type="text" name="nom" placeholder=" Feroniererere " />
    <p>Mot de passe :</p>
    <input type="password" name="mdp" />

    <input type="submit" value="Soumettre">
</form>
<p><a class="btn btn-primary btn-lg" href="/Home/Inscription">S'inscrire &raquo;</a></p>